@model List<AF.ViewModels.Payees.PayeeViewModel>

<h1>Payees</h1>

<form asp-controller="Payees" asp-action="Add" method="get" class="item">
    <button class="ui inverted button"><i class="plus icon"></i>Add a Payee</button>
</form>

@foreach (var payee in Model)
{
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide left aligned column">
                    <h2>@payee.Name</h2>
                </div>
            </div>
      </div>
    </div>
}