@model AF.ViewModels.AccountsAddViewModel

@{
    ViewBag.Title = "Add Account";
}

<div class="ui raised very padded text container">
    <h3 class="ui header centered">Add an Account</h3>

    <form asp-controller="Accounts" asp-action="Add" method="post" class="ui large form validate-me" role="form">
        <div class="ui input">
            <input asp-for="Name" />
        </div>
        <div class="ui input">
            <input asp-for="StartBalence" />
        </div>
        <div class="ui input">
            <input asp-for="Balence" />
        </div>
        <div class="ui input">
            <select asp-for="AccountType" asp-items="@(new SelectList(Model.AccountTypes,"AccountTypeId","Name"))">
                <option>Select Account Type</option>
            </select>
        </div>
        <div class="ui input">
            <select asp-for="Currency" asp-items="@(new SelectList(Model.Currencies,"CurrencyId","Name"))">
                <option>Select Currency</option>
            </select>
        </div>
        <input type="submit" value="Submit" class="ui button" />
    </form>
</div>