@model AF.ViewModels.Accounts.AccountViewModel

<h1>Add an Account</h1>

<div class="ui segment">    
    <div class="ui form">
        <form asp-controller="Accounts" asp-action="Add" method="post" class="ui large form validate-me" role="form">
            <div class="field">
                <label>Name</label>
                <input asp-for="Name" placeholder="Name"/>
            </div>
            <div class="field">
                <label>Starting Balence</label>
                <input asp-for="StartBalence"/>
            </div>
            <div class="field">
                <label>Balence</label>
                <input asp-for="Balence" />
            </div>
            <div class="field">
                <label>Type</label>
                <select asp-for="AccountType" asp-items="@(new SelectList(Model.AccountTypes,"AccountTypeId","Name"))">
                    <option>Select Account Type</option>
                </select>
            </div>
            <div class="field">
                <label>Currency</label>
                <select asp-for="Currency" asp-items="@(new SelectList(Model.Currencies,"CurrencyId","Name"))">
                    <option>Select Currency</option>
                </select>
            </div>
            <div class="field">
                <input type="submit" value="Save" class="ui button" />
            </div>
        </form>
    </div>
</div>
