@model AF.ViewModels.Accounts.AccountViewModel

<h1>Delete an Account</h1>

<div class="ui segment">    
    <div class="ui form">
        <form asp-controller="Accounts" asp-action="Delete" method="post" class="ui large form validate-me" role="form">
            <div class="field">
                <p>Are you sure you want to delete @Model.Name?
            </div>
            <div class="field">
                <input type="submit" value="Delete" class="red ui button" />
                <a asp-controller="Accounts" asp-action="Index">Cancel</a>
                <input type="hidden" asp-for="AccountId" />
            </div>
        </form>
    </div>
</div>